<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>

  <title>Document</title>
</head>

<body>
  <div id="app">
    <table>
      <thead>
        <tr>
          <th v-for="(value, key) in columns" @click="sortBy(key)">
            {{ value }}
            <!-- <span class="arrow" :class="sortOrders[key]"></span> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="task in filteredTasks">
          <td v-for="(value, key) in columns">
            {{ task[key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: function() {
        var columns = {
          id: 'ID',
          subject: '件名',
          category: 'カテゴリ',
          date: '日付'
        };
        var sortOrders = {};
        Object.keys(columns).forEach(function (key) {
          sortOrders[key] = 1
        });

        return {
          columns: columns,
          tasks: [
            {
              id: 1,
              subject: 'タスク1',
              category: 'カテゴリー1',
              date: '2016-1-01',
            },
            {
              id: 2,
              subject: 'タスク2',
              category: 'カテゴリー2',
              date: '2016-12-01',
            },
            {
              id: 3,
              subject: 'タスク-1',
              category: 'カテゴリー4',
              date: '2015-12-01',
            },
          ],
          sortKey: 'date',
          sortOrders: sortOrders
        }
      },
      methods: {
        sortBy: function (key) {
          this.sortKey = key;
          this.sortOrders[key] = this.sortOrders[key] * -1
        }
      },
      computed: {
        filteredTasks: function() {
          var data = this.tasks;

          var sortKey = this.sortKey;
          var order = this.sortOrders[sortKey] || 1;

          if (sortKey) {
            data = data.slice().sort(function (a, b) {
              a = a[sortKey];
              b = b[sortKey];
              return (a === b ? 0 : a > b ? 1 : -1) * order;
            });
          }
          return data;
        }
      }
    });
  </script>
</body>

</html>